#chart {
  width: 100%;
  height: 400px;
}

.statistics {
  display: flex;
  justify-content: center;
}

.statistics > div {
  padding-right: 1em;
}

.statistics > div:last-child {
  padding-right: 0;
}

.range h2 {
  float: left;
  padding-right: 1em;
}

.range h2:last-child {
  padding-right: 0;
}
